/* цвет Абзацев 212121 
  цвет текста 757575
  цвет лого 2196f3
  цвет лого 000000
  акцент ffffff
  фон ffffff  
  фон команда f5f4fa
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --background-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --background-hero: #2f303a;
  --address-color: #c4c4c4;
  --logo-color: #000000;
  --header-border: #ececec;
  --address-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --button-shadow: rgba(0, 0, 0, 0.25);
  --footer-social-link-color: rgba(255, 255, 255, 0.1);
  --input-form-border: rgba(255, 255, 255, 0.2);
  --time-duration: 500ms;
  --features-background-color: rgba(47, 48, 58, 0.8);
  --top-box-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;

  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  text-align: center;
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.logo-head {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.top-logo {
  color: var(--logo-color);
}

.logo-header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.down,
.city {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* site nav */

.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .studio,
.site-nav .portfolio,
.site-nav .contacts {
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link {
  position: relative;
}
.site-nav .link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -1px;
  border: 1px solid var(--logo-color);
  box-sizing: border-box;
  border-radius: 2px;
}

/* -------------auth-nav ----------- */
.auth-nav {
  display: flex;
  margin-left: auto;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .mail,
.auth-nav .phone,
.auth-nav .first-mail {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
  align-items: center;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.auth-nav .link:hover .mail-icon,
.auth-nav .link:focus .mail-icon,
.auth-nav .link:hover .phone-icon,
.auth-nav .link:focus .phone-icon {
  fill: var(--accent-text-color);
}

.mail-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------- Hero------*/
.hero-title,
.hero-button {
  color: var(--accent-color);
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;

  background-color: var(--accent-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
}

.property {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* -------Team------------ */
.title-features {
  display: inline;
  margin-right: auto;
  margin-bottom: 50px;
}

.photos {
  padding-bottom: 94px;
}

.features {
  display: flex;
}

.features .item {
  position: relative;
}

.features .item + .item {
  margin-left: 30px;
}

.features-text {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text-box {
  position: absolute;
  background-color: var(--features-background-color);
  width: 370px;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employees {
  display: flex;
}

.employees .item {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 var(--button-shadow);
  overflow: hidden;
}

.employees .item + .item {
  margin-left: 30px;
}

.properties {
  display: flex;
}

.properties .item {
  margin-right: 30px;
  width: 270px;
}

.properties .item:last-child {
  margin-right: 0;
}

.property-item {
  display: flex;
  background-color: var(--background-color);
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* --------Social links------------- */

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--social-link-color);
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--accent-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
}

.customers {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 88px;
}

.customers-title {
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-item {
  background-color: var(--accent-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item + .customers-item {
  margin-left: 30px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: var(--social-link-color);
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:focus {
  border: 1px solid var(--accent-text-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  background-color: var(--accent-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-text-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  padding-right: 0;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item {
  text-align: left;
  width: 370px;
  height: 404px;
  margin-right: 30px;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.project-wrap {
  display: block;
}

.projects .project-wrap:hover,
.projects .project-wrap:focus {
  box-shadow: 0 4px 4px 0 var(--button-shadow);
}

.projects .project-wrap:hover .project-top-text,
.projects .project-wrap:focus .project-top-text {
  transform: translateY(0);
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}

.projects .item:nth-child(n + 3) {
  margin-bottom: 30px;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section .images {
  display: block;
}

.section .customers-title,
.section .images,
.section .list-team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .list-team {
  margin-bottom: 50px;
}

.signature {
  background-color: var(--accent-color);
  padding: 30px;
}

.title-description {
  margin-bottom: 10px;
  text-align: left;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.title-team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.section-content {
  text-align: left;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.profession {
  text-align: center;
  margin-bottom: 16px;
}

.team {
  background-color: var(--background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-section {
  padding: 94px 0;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 50px;
}

.btns-list:first-child {
  margin-left: 0;
}

.btns-list {
  margin-left: 8px;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;

  background-color: var(--background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active,
.portfolio-btns .current {
  background-color: var(--accent-text-color);
  color: var(--accent-color);
  box-shadow: 0 4px 4px 0 var(--button-shadow);
}

.title .sites {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.description-photo {
  padding: 20px 24px;
  border: 1px solid var(--header-border);
  border-top: 0;
}

.section .content {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project-item-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: var(--accent-color);
  background-color: var(--top-box-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--time-duration);
}

/* -----------Footer------ */

.address .link {
  color: var(--address-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
}

.bottom {
  text-align: left;
  display: flex;
}

.footer .bottom {
  align-items: baseline;
}

.page {
  color: var(--address-color);
}

.footer .mail,
.footer .phone,
.footer .city {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  display: block;
  margin-bottom: 9px;
}

.bottom .logo {
  display: flex;
}

.bottom .down {
  /* margin-bottom: 20px; */
}

.logo-footer {
  margin-bottom: 20px;
}

.address-row {
  margin-bottom: 9px;
}

.address .link:focus,
.address .link:hover {
  color: var(--accent-text-color);
}

.connect {
  margin-left: 70px;
}

.connect-title,
.online-title {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  /* color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);   */
  background-color: var(--footer-social-link-color);
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-icon {
  fill: var(--accent-color);
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--accent-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.online {
  margin-left: 93px;
}

.online-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid var(--input-form-border);
  border-radius: 4px;
  outline: none;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
  background-color: transparent;
  color: var(--accent-color);
  transition: border-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.online-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-title {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.online-button {
  display: flex;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  margin-left: 12px;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-text-color);
  color: var(--accent-color);

  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.online-button-icon {
  margin-left: 10px;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  top: 0;
  left: 0;
  transition: opacity var(--time-duration), visibility var(--time-duration);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: rotate(0) translate(-50%, -50%);
  transition: transform var(--time-duration);
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  border-radius: 5px;
  /* margin-top: -75px; */
}

.modal-form {
  margin-top: 30px;
  /* justify-content: center; */
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:last-child {
  margin-bottom: 0;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-text {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: var(--logo-color);
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: var(--input-form-border);
  border-radius: 4px;
  padding-left: 48px;
  padding-right: 31px;
  outline: none;
  background-color: transparent;
  transition: border-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--logo-color);
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: var(--accent-text-color);
}

.modal-text {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid var(--input-form-border);
  border-radius: 4px;
  outline: none;
  padding: 10px;
  resize: none;
  background-color: transparent;
  color: var(--logo-color);
  transition: border-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-text:focus,
.modal-text:hover {
  border-color: var(--accent-text-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
  fill: var(--accent-text-color);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--address-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-text-color);
}

.modal-title {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;

  background-color: var(--accent-text-color);
  color: var(--accent-color);

  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  margin: 30px auto;
}

.check-wrap {
  margin-top: 20px;
}

.modal-check-text {
  display: flex;
  color: var(--primary-text-color);
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-color);
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check-link {
  color: var(--accent-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  padding-left: 5px;
}

.modal-check:checked + .modal-check-text .icon-check {
  fill: var(--accent-text-color);
}

.icon-check {
  fill: transparent;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: rotate(90deg);
}
