.header {
  border-bottom: 1px solid var(--header-border);
}

.logo-head {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  @include fontstyles(var(--accent-text-color), 700, 26px, 1.2, null);
  font-family: Raleway, sans-serif;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.top-logo {
  color: var(--logo-color);
}

.logo-header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.down,
.city {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-text-color);
}

/* site nav */

.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;
  @include fontstyles(var(--title-text-color), 500, 14px, 1.2, 0.02em);
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .studio,
.site-nav .portfolio,
.site-nav .contacts {
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link {
  position: relative;
}

.site-nav .link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -1px;
  box-sizing: border-box;
  border-radius: 2px;
}

/* -------------auth-nav ----------- */
.auth-nav {
  display: flex;
  margin-left: auto;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .mail,
.auth-nav .phone,
.auth-nav .first-mail {
  display: flex;
  @include fontstyles(var(--primary-text-color), 500, 14px, 1.2, 0.02em);
  padding: 32px 0;
  align-items: center;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.auth-nav .link:hover .mail-icon,
.auth-nav .link:focus .mail-icon,
.auth-nav .link:hover .phone-icon,
.auth-nav .link:focus .phone-icon {
  fill: var(--accent-text-color);
}

.mail-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
