.online {
  margin-left: 93px;
}

.online-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid var(--input-form-border);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--accent-color);
  transition: border-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.online-form {
  @include displayfunc(flex, center, center, null, null);
}

.online-title {
  @include fontstyles(var(--accent-color), 700, 14px, 1.2, 0.03em);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.online-button {
  @include displayfunc(flex, center, center, null, null);

  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  margin-left: 12px;

  background-color: var(--accent-text-color);
  @include fontstyles(var(--accent-color), 500, 16px, 1.6, null);
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.online-button-icon {
  margin-left: 10px;
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
