.section .images {
  display: block;
}

.section .customers-title,
.section .images,
.section .list-team {
  @include fontstyles(var(--title-text-color), 700, 36px, 1.16, 0.03em);
  text-align: center;
}

.section .list-team {
  margin-bottom: 50px;
}

.signature {
  background-color: var(--accent-color);
  padding: 30px;
}

.title-description {
  margin-bottom: 10px;
  text-align: left;
  @include fontstyles(var(--title-text-color), 700, 14px, 1.2, 0.03em);
  text-transform: uppercase;
}

.title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.title-team {
  @include fontstyles(var(--title-text-color), 500, 16px, 1.2, null);
  text-align: center;
  margin-bottom: 10px;
}
.section-content {
  text-align: left;
  @include fontstyles(var(--primary-text-color), 400, 14px, 1.71, 0.03em);
}

.profession {
  text-align: center;
  margin-bottom: 16px;
}

.team {
  background-color: var(--background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-section {
  padding: 94px 0;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btns {
  @include displayfunc(flex, center, center, null, null);
  // display: flex;
  // justify-content: center;
  align-self: center;
  margin-bottom: 50px;
}

.btns-list:first-child {
  margin-left: 0;
}

.btns-list {
  margin-left: 8px;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  background-color: var(--background-color);
  @include fontstyles(var(--title-text-color), 500, 16px, 1.6, null);
  cursor: pointer;
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active,
.portfolio-btns .current {
  background-color: var(--accent-text-color);
  color: var(--accent-color);
  box-shadow: 0 4px 4px 0 var(--button-shadow);
}

.title .sites {
  @include fontstyles(null, 700, 18px, 2, 0.06em);
  margin-bottom: 4px;
}

.description-photo {
  padding: 20px 24px;
  border: 1px solid var(--header-border);
  border-top: 0;
}

.section .content {
  @include fontstyles(var(--primary-text-color), null, 16px, 1.87, null);
}
