.property {
  padding-bottom: 94px;
  padding-top: 94px;
}

.properties {
  display: flex;

  .item {
    margin-right: 30px;
    width: 270px;
  }

  .item:last-child {
    margin-right: 0;
  }
}

.property-item {
  @include displayfunc(flex, center, center, null, null);
  background-color: var(--background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
